<div class="container col-lg-9">
  <div >
    <div id="about" class=" d-lg-flex d-block flex-column justify-content-center vh-100">
      <p class="aboutus">ABOUT US</p>
      <h2 class="aboutwho">WHO AM I?</h2>
      <p class="aboutText">
        <strong>Hi Im Jackson Ford</strong>
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam labore corrupti ab
    mollitia velit dolorem similique, saepe nihil distinctio eius illum pariatur. Dolor, suscipit totam! Pariatur perspiciatis nemo est aperiam.</p>
         <p class="aboutText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo aperiam veritatis corporis accusamus itaque ducimus temporibus consequuntur nulla hic nobis eum obcaecati libero ipsa,
           voluptatibus ullam molestiae eius doloremque sint..</p>
           <div class="row">
            <div class="col-md-3">
            <div class="services color-1">
              <span class="icon2">
                <i class="fa-regular fa-lightbulb">
                </i>
              </span>
              <h3>Graphic Design</h3>
            </div></div>
            <div class="col-md-3">
              <div class="services color-2">
                <span class="icon2">
                  <i class="fa-solid fa-earth-africa"></i>
                </span><h3>Web Design</h3></div></div>
                <div class="col-md-3">
                  <div class="services color-3">
                  <span class="icon2">
                    <i class="fa-solid fa-database"></i>
                  </span>
                  <h3>Software</h3></div></div>
                  <div class="col-md-3"><div class="services color-4">
                    <span class="icon2"><i class="fa-solid fa-mobile-screen-button">

</i></span><h3>Application</h3>
</div></div></div></div></div></div>
