.container{
  position: relative;
}
.aboutus{
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: Quicksand, Arial, sans-serif;
}
.aboutwho{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
  margin: 0 0 30px;
  color: #000;
  font-family: Playfair Display, Georgia, serif;
}
.aboutText {
  margin-bottom: 1.5em;
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #000000b3;
}
 strong {
  font-weight: bolder;
}
.col-md-3 {
  flex: 0 0 auto;
  width: 25%;
}
.services {
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 56px -8px #0000002b;
  border-bottom: 2px solid #2c98f0;
  padding: 1.5em;
}
.services .icon2 i {
  font-size: 30px;
  color: #2c98f0;
  margin-bottom: 20px;
}
.services h3 {
  font-family: Quicksand, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.services.color-2 {
  border-bottom: 2px solid #ec5453;
}
.services.color-2 .icon2 i {
  font-size: 30px;
  color: #ec5453;
}
.services.color-3 {
  border-bottom: 2px solid #f9bf3f;
}
.services.color-3 .icon2 i {
  font-size: 30px;
  color: #f9bf3f;
}services.color-4 {
  border-bottom: 2px solid #a84cb8;
}.services.color-4 .icon2 i {
  font-size: 30px;
  color: #a84cb8;
}
