<div class="container ms-0">

<nav class="text-center">

  <div >
  <img  class="sideimg img-fluid" src="https://react-portfolio-gold-psi.vercel.app/assets/about-BgAkqdr2.jpg" alt="">
  </div>

<div >
<h1><a routerLink="home" class="textname">Remon hany</a></h1>
<a href="" class="job">front-end</a>
<p class="country">in egypt</p>
</div>

<div >
  <ul class="sideul">
    <li><a class="active" routerLink="home">HOME</a></li>
    <li><a routerLink="about" routerLinkActive="text-primary">ABOUT</a></li>
    <li><a routerLink="skills"routerLinkActive="text-primary">SKILLS</a></li>
    <li><a routerLink="experiences"routerLinkActive="text-primary">EXPERINCE</a></li>
    <li><a routerLink="work"routerLinkActive="text-primary">WORK</a></li>
  </ul>
</div>

</nav>
</div>
