<div class="container">
  <p class="experience">EXPERIENCE</p>
  <h2 class="wexperience">WORK EXPERIENCE</h2>
  <div class="timeline">
      <div class="timeline-container ">
          <div class="timeline-icon">
              <i class="fa-solid fa-pencil"></i>
          </div>
          <div class="timeline-body">
              <h2><a href="#">Full Stack Developer</a> <span>2017-2018</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum
                  ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit
                  laboriosam culpa, repellendus esse commodi deserunt.</p>

          </div>
      </div>
      <div class="timeline-container">
          <div class="timeline-icon">
              <i class="far fa-grin-hearts"></i>
          </div>
          <div class="timeline-body">
            <h2><a href="#">Front End Developer at Google Company</a> <span>2017-2018</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum
                  ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit
                  laboriosam culpa, repellendus esse commodi deserunt.</p>

          </div>
      </div>
      <div class="timeline-container ">
          <div class="timeline-icon">
              <i class="far fa-grin-tears"></i>
          </div>
          <div class="timeline-body">
            <h2><a href="#">System Analyst </a> <span>2017-2018</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum
                  ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit
                  laboriosam culpa, repellendus esse commodi deserunt.</p>

          </div>
      </div>
      <div class="timeline-container">
          <div class="timeline-icon">
              <i class="far fa-grimace"></i>
          </div>
          <div class="timeline-body">
            <h2><a href="#">Full Stack Developer</a> <span>2017-2018</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum
                  ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit
                  laboriosam culpa, repellendus esse commodi deserunt.</p>

          </div>
      </div>

  </div>
</div>
