<div class="container col-lg-8">

    <div  class="content d-lg-flex d-block flex-column justify-content-center vh-100">

      <div class="parts">

        <div class="row">
          <p class="workTitle ">MY WORK</p>
        <h2 class="workHeading">RECENT WORK</h2>
        <div>
          <ul class="links">
            <li><a href="">Graphic Design</a></li>
            <li><a href="">Apps</a></li>
            <li><a href="">Software </a></li>
          </ul>
        </div>

        </div>
        <div class="row">
          <div class="first col-md-6">
              <img class="img-fluid" src="https://react-portfolio-gold-psi.vercel.app/assets/img-1-C4nS0eD8.jpg" alt="">
          </div>
          <div class="second col-md-6">
            <img class="img-fluid" src="https://react-portfolio-gold-psi.vercel.app/assets/img-2-D-4H1m4L.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="first col-md-6">
              <img class="img-fluid" src="https://react-portfolio-gold-psi.vercel.app/assets/img-4-tHccITd-.jpg" alt="">
          </div>
          <div class="second col-md-6">
            <img class="img-fluid" src="https://react-portfolio-gold-psi.vercel.app/assets/img-3-pR2ZEVY9.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="first col-md-6">
              <img class="img-fluid" src="https://react-portfolio-gold-psi.vercel.app/assets/img-5-lAucr__a.jpg" alt="">
          </div>
          <div class="second col-md-6">
            <img class="img-fluid" src="https://react-portfolio-gold-psi.vercel.app/assets/img-6-DFW03AZ3.jpg" alt="">
          </div>
        </div>
      </div>
    </div></div>
